<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mango.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mango.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" asp-controller="Home" asp-action="Index">
                    <img width="35px" src="https://storage.yandexcloud.net/img/Mango/mango.png" alt="Mango" />
                    Mango
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link px-2 text-secondary" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link px-2 text-secondary" asp-controller="Product" asp-action="Index">Product</a></li>
                    <li>
                        <a class="nav-link px-2 text-secondary" asp-controller="Cart" asp-action="Index">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>

                </ul>

                <div class="text-end">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-dark py-3 text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year.ToString() - Mango.Web
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/949c140343.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
