@{
    ViewData["Title"] = "Confirmation";
}

<div class="text-center">
    <h1 class="text-info pt-4">Congratulations! </h1>
    <p class="pb-3">We have receiver your order and payment will be processed soon!</p>
    <img src="https://storage.yandexcloud.net/img/Mango/order.PNG" width="80%"/>
</div>